/*основные стили
==============================*/
body {
    background: #f2f3f5;
    font-family: 'roboto';
}

.container__header {
    background: #fff;
}

nav {
    margin-bottom: 0;
}

.container {
    display: flex;
    width: 1180px;
    margin: auto;
}

/*стили верхней шапки данной страницы
====================================*/

.block__top {
    display: flex;
    flex-flow: column;
    height: 212px;
    background: #fff;
    margin: 0;
    margin-bottom: 50px;

    .block__top--pagination {
        display: flex;
        margin-bottom: 40px;

        .block__top--item {
            color: #afafaf;

            span {
                margin: 0px 10px;
                color: #afafaf;
            }

        }

        .triger-color {
            color: #505050;
        }
    }
}
.block__top--work {
    display: flex;
    width: 100%;

    .block__top--title {
        font-size: 22px;
        width: 770px;
        margin: auto;
        text-align: center;
    }

}
/*эффект изогнутой тени
=======================*/
.effect_shadow {
    position: relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.0);
}

.effect_shadow:before, .effect_shadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 40px rgba(0,0,0,0.3);
    top:50%;
    bottom:0;
    left:130px;
    right:130px;
    border-radius:100px / 50px;
}

.effect_shadow:after
{
    right:30px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

/*СТИЛИ КОНТЕНТА
================*/

.block__content {
    display: flex;
    flex-flow: row wrap;
}

.block__content--list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.block__content--item {
    display: flex;
    flex-flow: column;
    width: 380px;
    height: auto;
    background: #fff;
    margin-bottom: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);

    .block__header {
        height: 271px;
        margin-bottom: 0;

        .block__header--wrapper {
            width: auto;
            height: 271px;
            overflow: hidden;
        }

    }

    .block__content--content {
        padding: 0px 20px 20px 20px;
        
        .block__content--start {
            display: flex;
            

            .block__content--itemStar {
                height: 15px;
                margin-right: 10px;
            }
        }
        .block__content--date {
            display: flex;
            margin-bottom: 15px;
        }

        .block__content--name {
            font-weight: bold;
        }

        .block__content--text {
            font-size: 16px;
            font-style: italic;
            color: #6c6868;
        }

        .block__content--link {
            font-size: 14px;
            color: #2d70d0;
            font-weight: bold;

            span {
                position: relative;

                &::after {
                    content: "\203A";
                    position: absolute;
                    top: -4px;
                    color: #2d70d0;
                    padding-left: .7rem;
                    font-size: 1.4rem;

                }
            }
        }

    }
}

.block__starDate {
    display: flex;
}

.pagination__position {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: auto;
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
 
    .pagination--item {
        height: 100%;
        width: 37px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            padding: 10px;
            color: black;
        }
    }

    .pagination--item:not(:last-child) {
        border-right: 1px solid #dadada;
    }

}

.pagination-active{
    background: #e9e9e9;
}

@media (max-width: 1100px) {
    .container {
        display: flex;
        flex-flow: column;
        width: auto;
    }

    .block__content {     
        margin: auto;
    }

    .block__content--list {
        width: auto;
        justify-content: center;
        margin: auto;
        flex-flow: column;
    }

    .block__header {
        margin: 0;
    }

    .block__top--work .block__top--title {
        width: 600px;
    }
}

@media (max-width: 600px) {
    .block__top--work .block__top--title {
        width: 350px;
    }
}













    