#jbCallme_overlay{
    background:#000;
    opacity:0.8;
    filter:alpha(opacity=80);
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    z-index:103;
    display:none;
}

.jbCallme{
    background:#fff;
    left:50%;
    margin-left:-190px;
    position:fixed;
    top:200px;
    width:380px;
    z-index:110;
    color:#323d53;
    display:none;
    height:auto;
}
.jbCallme .jb_title{
	font-size: 16px;
	padding: 10px;
	font-weight: 400;
	text-align: center;
}
.jbCallme textarea{
    border: 1px solid #d6d6d6;
    padding: 3px;
    margin-bottom: 10px;
    background-color: #fff;
    width:98%;
    height:70px;
}
.jbCallme form{
    margin: 10px;
}
.jbCallme .jb_input{
    margin-top: 10px;
}
.jbCallme  label   {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    margin-top: 12px;
}
.jbCallme input[type=text],.jbCallme input[type=email]{
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    border: 1px solid #CCCCCC;
    padding: 7px;
    background-color: #fff;
    width:95%;
	font-weight: 500;
  
}
.jbCallme select{
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    border: 1px solid #CCCCCC;
    padding: 7px;
    background-color: #fff;
    width:100%;
    display:block;
	font-weight: 500;
  
}
.jbCallme select:focus,.jbCallme input[type=text]:focus,.jbCallme input[type=email]:focus, .jbCallme textarea:focus{
    background-color: #f9fbff;
    border: 1px solid #999999;
}
.jbCallme .jb_close{
    position:absolute;
    display:block;
    top:0px;
    right:5px;
    width:24px;
    height:24px;
    cursor:pointer;
    text-indent:-500px;
    overflow:hidden;
}
.jbCallme .jb_close:after{
    display:block;
    content:'×';
    position:absolute;
    line-height:24px;
    font-size:24px;
    text-indent:0;
    top:0;
    right:0;
    color:#000;
}
.jbCallme input[type=submit]{
   cursor: pointer;
	color: #FFFFFF;
	line-height: 12px;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 500;
	background: #f51f1f;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	display: inline-block;
	text-decoration: none;
	padding: 13px 15px 13px 15px;
	border:0;
	margin: 0 auto;
	display: block;
}
.jbCallme input[type=submit]:hover {
    background:#ed0909;
}
.jbCallme .jb_dev{
    position:absolute;
    right:10px;
    bottom:10px;
    color:#c2c3c4;
    text-decoration:none;
}
.jbCallme .jb_success{
    margin:30px;
    color:#323d53;
    font-size:14px;
}
.jbCallme .jb_fail{
    margin:30px;
    color:#323d53;
    font-size:14px;
}
.jb_progress{
    display: inline-block;
    height: 76px;
    position: relative;
    vertical-align: top;
    width: 100%;    
}
.jb_progress:after {
	border-width: 0 3px 0 0;
	border-style: solid;
	border-color: rgba(0, 0, 0, .5);
	border-radius: 50%;
	display: block;
	height: 50px;
	left: 50%;
	margin: -25px 0 0 -25px;
	position: absolute;
	top: 50%;
	width: 50px;

	content: "";

	animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
