.subscribe_wrap
  .container__block
    .subscribe-custom-position(data-module='0')
      .box-content
        .subscribe0
          input(type='text', name='subscribe_email0', value='', placeholder='Введите здесь свой e-mail')
          input.button(type='button', value='Подписаться', onclick="addSubscribe(0);yaCounter41405084.reachGoal ('podpiska'); return true;")
    .subscribe_left
      | Подпишись на рассылку и получай информацию о 
      b новинках, скидках и акциях
      |  в магаизне ЯСНА!
    .clear


footer
  .container__block
    .column
      .foot_logo
        img(src='http://yasna24.ru/image/data/logotip.png', alt='')
      .foot_company Интернет-магазин ЯСНА
      .foot_adress
        address
          | ул. Северное
          br
          | шоссе, д. 35Г,
          br
          | г. Красноярск
    .column
      h3 Есть вопрос?
      .foot_phone
        i 8 391
        |  287-88-44
      .foot_callback.callme_button(onclick="yaCounter41405084.reachGoal ('zvonok'); return true;")
        span Заказать обратный звонок
    .box_menu2.column
      h3 Компания
      .box-amenu
        ul#amenu1.amenuleft_menu_inf
          li
            a.firsrli(href='http://yasna24.ru/about', title='О компании', target='_self') О компании
          li
            a.firsrli(href='http://yasna24.ru/adresa-magazinov', title='Адреса и контакты', target='_self') Адреса и контакты
          li
            a.firsrli(href='http://yasna24.ru/sertifikaty', title='Сертификаты', target='_self') Сертификаты
          li
            a.firsrli(href='http://yasna24.ru/rabota', title='Работа у нас', target='_self') Работа у нас
          li
            a.firsrli(href='http://yasna24.ru/optovikam', title='Оптовикам', target='_self') Оптовикам
          li
            a.firsrli(href='http://yasna24.ru/rayon-opt', title='Районы оптовой продажи', target='_self') Районы оптовой продажи
          li
            a.firsrli(href='http://yasna24.ru/chestnaya-cena', title='Честная цена', target='_self') Честная цена
          li
            a.firsrli(href='http://yasna24.ru/novosti/', title='Новости', target='_self') Новости
          li
            a.firsrli(href='http://yasna24.ru/nashi-sovety/', title='Наши советы', target='_self') Наши советы
    .box_menu2.column
      h3 Помощь
      .box-amenu
        ul#amenu2.amenuleft_menu_inf
          li
            a.firsrli(href='http://yasna24.ru/how-buy', title='Как сделать заказ на сайте', target='_self') Как сделать заказ на сайте
          li
            a.firsrli(href='http://yasna24.ru/poluchenie', title='Получение в магазине', target='_self') Получение в магазине
          li
            a.firsrli(href='http://yasna24.ru/oplata', title='Оплата', target='_self') Оплата
          li
            a.firsrli(href='http://yasna24.ru/garantiya-i-vozvrat', title='Гарантия и возврат', target='_self') Гарантия и возврат
          li
            a.firsrli(href='http://yasna24.ru/pravila', title='Правила работы', target='_self') Правила работы
          li
            a.firsrli(href='http://yasna24.ru/contact-us/', title='Обратная связь', target='_self') Обратная связь
    .box_menu2.column
      h3 Сервис
      .box-amenu
        ul#amenu3.amenuleft_menu_inf
          li
            a.firsrli(href='http://yasna24.ru/rassrochka', title='Покупка в рассрочку', target='_self') Покупка в рассрочку
          li
            a.firsrli(href='http://yasna24.ru/ustanovka', title='Установка', target='_self') Установка
          li
            a.firsrli(href='http://yasna24.ru/dostavka', title='Доставка', target='_self') Доставка


