extends ../main

block title
  |Изготовление по индивидуальному проекту
  
block content
  .block__top.effect_shadow
    .container
      .block__top--pagination
        p.block__top--item.triger-color
          | Главная
          span >
        p.block__top--item
          | Все отзывы
      .block__top--work
        h1.block__top--title
          | К своей работе мы подходим очень точно и профессионально — смотрите, что пишут о наших товарах
  .container       
    .block__content
      ul.block__content--list
        li.block__content--item
          header.block__header
            .block__header--wrapper
              img(src="./img/img_1.jpg" alt="Ясна 2Ц").block__header--img
          .block__content--content
            h3.block__content--title
              | Отзыв о теплице "Ясна 2Ц"
            .block__starDate
              ul.block__content--start
                li.block__content--itemStar
                  img.block__content--imgStar(src="./img/start_list.jpg")               
              span.block__content--date
                | 17.10.2017
            p.block__content--name
              | Тамара Васильевна 
            p.block__content--text
              | "Работа выполнена качетсвенно и быстро. Спасибо"
            a(href="").block__content--link
              span Подробнее
        li.block__content--item
          header.block__header
            .block__header--wrapper
              img(src="./img/img_1.jpg" alt="Ясна 2Ц").block__header--img
          .block__content--content
            h3.block__content--title
              | Отзыв о теплице "Ясна 2Ц"
            .block__starDate
              ul.block__content--start
                li.block__content--itemStar
                  img.block__content--imgStar(src="./img/start_list.jpg")               
              span.block__content--date
                | 17.10.2017
            p.block__content--name
              | Александр Иванович  
            p.block__content--text
              | "Работа выполнена качетсвенно и быстро. Спасибо"
            a(href="").block__content--link
              span Подробнее
        li.block__content--item
          header.block__header
            .block__header--wrapper
              img(src="./img/img_1.jpg" alt="Ясна 2Ц").block__header--img
          .block__content--content
            h3.block__content--title
              | Отзыв о теплице "Ясна 2Ц"
            .block__starDate
              ul.block__content--start
                li.block__content--itemStar
                  img.block__content--imgStar(src="./img/start_list.jpg")               
              span.block__content--date
                | 17.10.2017
            p.block__content--name
              | Александр Иванович
            p.block__content--text
              | "Работа выполнена качетсвенно и быстро. Спасибо"
            a(href="").block__content--link
              span Подробнее
      .pagination__position
        ul.pagination
          li.pagination--item.pagination-active
            a(href="") 1
          li.pagination--item
            a(href="") 2
          li.pagination--item
            a(href="") 3

            
          
     
             
    

    
      
