extends ../main

block title
  |Изготовление по индивидуальному проекту
  
block content
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12
        .sale
          h2.text-center Каждый день в тепличном центре «Ясна» — выгодные цены, скидки и интересные предложения. Следите за нашими новостями!
        .container
          ul.list-sale
            li.list-sale--item
              .wraper
                img(src="./img/tpl-1.jpg").img-item
              .list-sale--content
                h4.list-sale--title Ясна Лайт 3х4 по рекордной цене 6500 р.
                p.list-sale--conditions Только до 16 февраля
              .footer-link
                a(href="#").list-sale--link Подробнее
            li.list-sale--item
              .wraper
                img(src="./img/tpl-2.jpg").img-item
              .list-sale--content
                h4.list-sale--title Ясна Лайт 3х4 по рекордной цене 6500 р.
                p.list-sale--conditions Только до 16 февраля
              .footer-link
                a(href="#").list-sale--link Подробнее
            li.list-sale--item
              .wraper
                img(src="./img/tpl-3.jpg").img-item
              .list-sale--content
                h4.list-sale--title Ясна Лайт 3х4 по рекордной цене 6500 р.
                p.list-sale--conditions Только до 16 февраля
              .footer-link
                a(href="#").list-sale--link Подробнее
            li.list-sale--item
              .wraper
                img(src="./img/tpl-4.jpg").img-item
              .list-sale--content
                h4.list-sale--title Ясна Лайт 3х4 по рекордной цене 6500 р.
                p.list-sale--conditions Только до 16 февраля
              .footer-link
                a(href="#").list-sale--link Подробнее

            
          
     
             
    

    
      
