.container__block {
    width: 1180px;
    margin: auto;
}
.subscribe_wrap{
	background:#f2f2f2;
	border-bottom:1px solid #dadada;
	border-top:1px solid #dadada;
	box-shadow: 0 -5px 5px #e9e9e9;
	padding:25px 0;
}
.subscribe-custom-position{
	float:right;
}
.subscribe_wrap input[type=text]{
	height:36px;
	background:#fff;
	width:276px;
	border:2px solid #dadada;
	padding:0;
	text-indent:9px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	font-weight:600;
	margin-right:17px;
}
.subscribe_wrap input.button{
	background:#3fae47;
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
    border: none;
	border-radius: 5px;
	font-weight:400;
	padding:0 32px;
	height:40px;
	vertical-align: top;
}
.subscribe_wrap input.button:hover{
	background:#31a039;
}
.subscribe_left{
	color:#595959;
	padding-left:47px;
	font-size:15px;
	width:480px;
	background: url('../img/subscribe.png') left center no-repeat;
}
.subscribe_success0{
	padding-top: 10px;
	display: block;
}
#time{
	border-top:1px solid #e9e9e9;
	padding: 15px 0 0;
	margin: 20px 20px 0 20px;
}
.form input[type=text],.form select{
	width: 400px;
	padding: 0;
	height: 25px;
	max-width:100%;
}
.form input[type=text]{
	text-indent:5px;
}
.cat_advantages{
	margin:20px 0 40px 0;
	font-size:0;
	box-shadow: 0 5px 0px #e9e9e9;
}
.cat_advantage{
	display:inline-block;
	display: inline;
	zoom: 1;
	position:relative;
	width:25%;
	vertical-align:top;
}
.cat_advantage img{
	float:left;
	margin:4px 10px 0 20px;
}
.cat_advantage p{
	padding:0 30px 15px 0;
}
.cat_advantage p a{
	font-size:14px;
	color:#000000;
	text-decoration:none;
}
.cat_advantage p a:hover{
	text-decoration:underline;
}
.label_checkbox label{
	padding: 0 0 0 21px;
	margin-left: -21px;
}
.adress_full_left,.adress_full_right{
	display:table-cell;
	width:50%;
}
.adress_full_left_item:first-child{
	padding:0 0 30px 0;
}
.adress_full_left_item{
	padding:30px 0;
	line-height:1.4;
}
.adress_full_left_item+.adress_full_left_item{
	border-top:1px solid #d9d9d9;
}
.adress_full_left_item_link a{
	font-size:18px;
	font-weight:500;
	color:#d82323;
}
.adress_full_left_item_link_p{
	font-size:16px;
}
.adress_full_right_wrap{
	padding-left:120px;
	font-size:16px;
}
.adress_full_right_b{
	font-size:18px;
	font-weight:600;
	margin:0 0 18px 0;
}
.adress_full_right_p{
	margin:0 0 18px 0;
}
.adress_full_right_p a{
	font-size:18px;
	color:#d82323;
} 
.adress_page_map{
	float:right;
	width:440px;
}
.adress_page_photo{
	clear:both;
	padding-top:20px;
}
.adress_page_info{
	font-size:16px;
}
.adress_page_info table td{
	vertical-align: top;
	padding-bottom:20px;
	font-size:16px;
}
.adress_page_info table td p:last-child{
	margin-bottom:0;
}
.adress_page_info table td:first-child{
	padding-right: 20px;
}
.adress_page_info table td:last-child{
	width:290px;
}
.adress_page_photo{
	font-size:0;
	margin-left:-20px;
}
.adress_page_photo img{
	margin:0 0 20px 20px;
}
.combo_products{
	margin:40px 0 0 0;
}
.combo_products h3{
	margin: 0 0 10px 0 ;
}
#cboxTitle{
	display:none !important;
}
.product_info_scroll_wrap{
	width:482px;
	
}
.product_info_scroll{
	overflow-x: auto;
	white-space: nowrap;
}

.stock_status{
	display:inline;
	
}

/* footer */ 
footer {
	clear: both;
	overflow: auto;
	padding: 55px 0 30px;
	background: #f2f2f2;
	color:#565656;
	font-size:13px;
	font-weight: 500;
}
.foot_company{
	margin:12px 0;
}
.foot_phone{
	color: #262626;
	font-weight: 700;
	font-size: 22px;
	margin:0 0 5px 0;
}
.foot_phone i {
    color: #a7a7a7;
    font-style: normal;
}
.foot_callback{
	color:#d82323;
	font-size:13px;
	cursor: pointer;
	margin:0 0 20px 0;
}
.foot_callback span{
	display:inline-block;
	border-bottom: 1px dotted #d82323;
}
.foot_callback:hover span{
	border-color:#f2f2f2;
}
footer h3 {
	color: #000000;
	text-transform:uppercase;
	font-weight:600;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 12px;
}
footer .column {
	float: left;
	width: 20%;
	min-height: 50px;
}
footer .column ul {
	margin-top: 0px;
	margin-left: 0;
	padding-left: 0;
	list-style:none;
}
footer .column ul li {
	margin-bottom: 5px;
}
footer .column a {
	text-decoration: none;
	color: #565656;
	font-weight: 400;
}
footer .column a:hover {
	text-decoration: underline;
}
footer .column:nth-child(3) ul,footer .column:nth-child(3) h3{
	margin-left:20px;
}
footer .column:nth-child(5) ul{
	margin:0 0 10px 0;
}
.foot_adress address{
	font-style:normal;
}
#powered {
	margin-top: 5px;
	text-align: right;
	clear: both;
}
/* banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 20px;
}

input:focus, textarea:focus, select:focus{
	border-color: #b7b7b7 !important;
}

#singleclick_form{
	width: 650px;
    height: 280px;
}

@media (max-width: 1199px) {
	.container__block{width: auto;}
	#top2 .container__block{padding:0 10px;}
	header .links{display:none;}
	header{margin: 0 10px;}
	.slideshow{display: none;}
	.box_viewed{padding:0 10px;}
	.box_html_wrap{padding:0 10px;}
	.advantages{margin-left:-2%;}
	.advantage_item{width:23%;padding:0;margin-left:2%;}
	.box-news{width:49%;}
	.box-news:nth-child(2n){margin-left: 2%;}
	.box_news_module{padding:0 10px;}
	.newsimage img{margin-left:0;margin-right:15px;}
	.home_middle2{padding: 25px 10px 1px;}
	.subscribe_wrap{padding: 25px 10px;}
	footer{padding: 20px 10px;}
	.home_middle{padding: 25px 10px 1px;}
	.home_middle #column-right .box-product > div:nth-child(3){display:none;}
	.content2{padding:0 10px;}
	.adaptive_content_wrap .content2{padding:0;}
	.adaptive_content_wrap{padding:0 10px;}
	.cat_advantage{width:49%;}
	.category-list ul{margin:0 0 20px -3%;}
	.category-list ul li{width:30%;margin:0 0 15px 3%;}
	.category-list ul li img{max-width:100%;}
	.category-list ul li span{font-size:14px;}
	.cat_advantages{margin: 20px 0;}
	.category-info2 img,.category-info img{max-width:100%;height:auto !important;}
	.product-info .right_r{float:none;margin:10px 0 15px;}
	.adress_full_left, .adress_full_right{width:auto;display:block;margin:0 0 20px 0;}
	.adress_full_right_wrap {padding-left: 0;}
	.adress_full_left_item{padding:15px 0;}
	.adress_page_map{float:none;margin:0 0 15px 0;width:auto;}
	.combo-action{clear: both;width:auto !important;float:none !important;}
	.combo-action div{display:block;}
	.combo-save{float:none !important;}
	.cart-info tbody .quantity,.cart-info tbody .total{white-space: nowrap;}
	.simpleregister-block-content .simplecheckout-customer{width:auto !important;}
	.wishlist-info tbody .stock,.wishlist-info tbody .price{white-space: nowrap;}
}

@media (max-width: 1190px) {
	.open_quick_view{display: none;}
	#menu ul.top_category_ul{display:inline-block;}
	#menu ul.top_category_ul2{display:none;}
}

@media (max-width: 950px) {
	
	.login-content .left,.login-content .right{float:none;width:auto;}
}

@media (max-width: 900px) {
	.subscribe-custom-position{float:none;margin:0 0 20px 0;text-align: center;}
	.subscribe_left{width:auto;min-height:25px;}
	.subscribe_wrap input[type=text]{width:220px;margin-right: 0;margin-bottom:10px;}
	.subscribe_wrap input.button{width:220px;}
	footer .column{width:50%;}
	footer .column:nth-child(1),footer .column:nth-child(2){min-height: 200px;}
	footer .column:last-child{width:auto;float:none;clear:both;}
	footer .box_menu2.column{width:33%;}
	footer .column:nth-child(3) ul,footer .column:nth-child(3) h3{margin-left:0;}
	.home_middle #column-right .box-product > div:nth-child(2){display:none;}
	.cart-info tbody .model,.cart-info thead .model,.wishlist-info thead .model,.wishlist-info tbody .model{display:none;}
}

@media (max-width: 850px) {
	header #search input{width: 165px;}
	.top_phone{left: 345px;}
	.product-info > .left,.product-info > .left + .right{margin:0 0 20px 0;float:none;}
	.product-info .image{float:none;}
	.product_info_scroll_wrap{width:auto;}
	.product-info .image img{max-width:100%;}
	.product-info .right h1.product-info_h1{display: none;}
	.product-info .product-info_h1_2{display: block;}
	.description_product_left,.description_product_right{width:auto;display:block;padding-left: 0;}
	.review_table td:last-child{padding-left:20px;}
}

@media (max-width: 800px) {
	.cat_advantage img{float:none;margin: 0px 0px 15px 0;}
	.cat_advantage{text-align:center;}
	.cat_advantage p{padding: 0 0 15px 0;}
	.category-list ul li{width:47%;}
	.adress_list_button a.button{display:block;text-align:center;}
	.vtop_banner{display:none;}
}

@media (max-width: 750px) {
	header #search input{padding: 5px 35px 5px 0px;}
	header .button-search{height: 28px;}
	header #search{top: 12px;}
	.top_phone{left: 115px;top: 50px;}
	.advantage_item{width:48%;}
	.box-news{display: block;width:auto;clear:both;margin-bottom:20px;}
	.box-news:nth-child(2n){margin-left: 0;}
}

@media (max-width: 700px) {
	#top2{height:auto;line-height: 32px;padding: 4px 0;}
	#welcome_right,#top2 #welcome{float:none;text-align:center;font-size: 13px;}
	#top2 #welcome a{margin:0 5px;}
	#welcome_right div{margin:0 5px;}
	#welcome_right .adress_link .toggle_div,#welcome_right .time_link .toggle_div{text-align: left;margin:0;}
	#welcome_right .time_link .toggle_div{min-width:auto;}
	#column-left{float:none;width:auto;}
	#column-left + #column-right + .content2, #column-left + .content2, #column-left + #column-right + .article, #column-left + .article {
    margin-left: 0px;}
    .box_category_wrap{display: none;}
    #column-left .specialtime_box{display: none;}
    .home_middle #column-left .specialtime_box{display: block;}
	#singleclick_form{width: 280px;height: auto;padding:20px 10px;}
	#singleclick_form .singleclick_left{width:35% !important;}
	#singleclick_form .singleclick_right{width:62% !important;}
	#singleclick_form input{width:150px !important;}
	.content2 #column-left, .content2 #column-right, #column-left + #column-right + .article, #column-left + .article, #column-right + .article {
    margin-bottom: 30px;}
    .cart-info thead .price,.cart-info tbody .price,.wishlist-info thead .price,.wishlist-info tbody .price{display:none;}

}

@media (max-width: 650px) {
	#menu *{vertical-align:top;}
	.adaptive_menu{width:50px;height:50px;background: url('../img/threelines.png') center center no-repeat;display: inline-block;margin:0 10px;cursor:pointer;}
	#menu ul.top_category_ul{display: none;position: absolute;left: 0;background: #fff;top: 50px;width: 100%;border-bottom:2px solid #d82323;}
	#menu ul.top_category_ul li{display:block;}
	#menu ul.top_category_ul li a{text-align: center;border-top:2px solid #d82323;line-height:38px;}
	#menu ul.top_category_ul > li > ul{display: block;position: relative;width:100%;padding:0;border-left:0;border-right:0;border-bottom:0;border-top:2px solid #d82323;}
	#menu ul.top_category_ul > li > ul li a{border:0;line-height: 24px;padding: 0;}
	.product-grid > div{width:auto;display:block;}
	.review_table td{display:block;}
	.simplecheckout label, .simpleregister label{white-space: normal !important;}
	.simplecheckout .quote label{white-space: nowrap !important;}
}

@media (max-width: 600px) {
	.recommend li table td:last-child {padding: 10px;}
	.home_middle #column-left,.home_middle #column-right{width:auto;float:none;display:block;margin-left:0;}
	.home_middle .box-product > div{width:auto;display:block;}
	#menu ul.top_category_ul2{display:none;}
}

@media (max-width: 550px) {
	.wishlist-total{display:none;}
	.recommend li table td:first-child {display: none;}
	.recommend li table td:last-child {padding: 20px;}
	.simplecheckout-customer-left,.simplecheckout-customer-right{width:auto !important;display:block !important;}
}

@media (max-width: 500px) {
	#top a{font-size: 24px;line-height:40px;}
	nav #cart{top:0;}
	nav #cart .heading{padding-top: 9px;padding-bottom: 8px;}
	nav #cart .heading:before{top: 6px;}
	footer .box_menu2.column{width:50%;}
	footer .box_menu2.column:nth-child(5){float:none;clear:both;}
	footer .box_menu2.column{margin:0 0 20px 0;}
	.content-news .news .image{float:none;width:auto;}
	.product-filter .limit{display:none;}
}
@media (max-width: 450px) {
	.advantages{margin-left:0;}
	.advantage_item{width:auto;padding:0;margin-left:0;display:block;}
	.review_form{width:auto;}
	.review_form input[type=text], .review_form textarea{width:93%;}
	.review_form textarea{background: #fff;}
	.combo-section .combo-set .combo-item{width:auto !important;float:none !important;text-align:center;}
	.combo-plus{float:none !important;clear: both !important;line-height: 1.5 !important;text-align:center;}
	.combo-action{text-align:center;}
	.cart-info thead .image,.cart-info tbody .image,.wishlist-info thead .image,.wishlist-info tbody .image{display:none;}
	.center_checkout_button{display:none;}
	.simplecheckout-customer-left{width:auto !important;}
	.simplecheckout-cart td{padding: 6px 3px !important;}
}
@media (max-width: 400px) {
	#welcome_right .time_link .toggle_div{left:-35px;}
	.foot_phone{font-size: 18px;}
	.foot_callback span{border-bottom:0;}
	.jbCallme{width:280px !important;margin-left: -140px !important;}
}
@media (max-width: 350px) {
	header #search{left: 90px;}
	.top_phone{left: 95px;}
}
@media (max-height: 550px) {
	#menu ul.top_category_ul > li > ul{display:none;}
}